
<!DOCTYPE html>
<html>
<head>
    <title>Chat realtime NodeJS demo</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/chat.js"></script>
</head>

<body>

<fieldset>
    <legend>Demo chat realtime NodeJS</legend>
    <input type="text" id="username" name="username" placeholder="Enter name">
    <br>
    <div id="content"></div>

    <input id="message" placeholder="Write something..">
    <br>
    <button id="sendMessage">SEND</button>
</fieldset>

</body>
</html>